@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #bae6fd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

/* Varmista, että linkit eivät ole alleviivattuja */
.nav-link {
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

#about {
  display: flex;
  background-color: #bae6fd;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 0; /* Lisää tilaa yläosaan, jotta otsikko näkyy kunnolla */ 
  
}


#skills {
  display: flex;
  background-color: #e1f5ff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 0px; /* Lisää tilaa yläosaan, jotta otsikko näkyy kunnolla */ 
}

#projects {
  display: flex;
  background-color: #bae6fd;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 0px; /* Lisää tilaa yläosaan, jotta otsikko näkyy kunnolla */
}

#contact {
  display: flex;
  background-color: #e1f5ff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 500px; /* Lisää tilaa yläosaan, jotta otsikko näkyy kunnolla */
}




